{% extends '_base_/main.html' %}
{% load static from staticfiles %}

{% block title %}:: Artigos por {{ author }}{% endblock %}
{% block active-articles %} active {% endblock %}

{% block bodyclass %} bg-white {% endblock %}

{% block body %}
<div class="container top-100 bottom-60 blog-section">

<div class="blog-author">
    <img class="img-fluid" src="{{ authorPhoto }}" alt="{{ author }}">
    <h3 class="blog-author-name text-semibold">Artigos escritos por {{ author }}</h3>
</div>


{% for article in articles %}
    <div class="row blog-content top-40">
      <div class="col-md-10 col-sm-12 col-xs-12">
        <p><span>{{ article.created }} | {{ article.syntax }} </span></p>
        <h1 class="text-bold">{{ article.title }}</h1>
        <div class="markdown">{{ article.content }}</div>
      </div>
    </div>

    <hr>
{% endfor %}

</div>

{% if editorial %}
    <div class="container bottom-60">
    <div class="blog-author-bio heading">
        <h2 class="text-semibold">Nota editorial</h2>
        <p>{{ editorial | safe }}</p>
    </div>
    </div>
{% endif %}

{% endblock %}