{% extends '_base_/main.html' %}

{% block body %}
    <div class="container top-200 bottom-60">
        <form method="post">

            {% csrf_token %}

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="sender">Nome Formal</label>
                    <input name="sender" type="text" class="form-control"
                           id="sender" placeholder="Rui Oliver" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input name="email" type="email" class="form-control"
                           id="email" placeholder="rui@example.com" required>
                </div>
            </div>

            <div class="form-group">
                <label for="subject">Assunto</label>
                <input name="subject" type="text" class="form-control"
                       id="subject" placeholder="Desejo Trabalhar Convosco" required>
            </div>

            <div class="form-group">
                <label for="content">Mensagem</label>
                <textarea class="form-control" name="content"
                          id="content" cols="30" rows="10" maxlength="500" minlength="20" required>
                </textarea>
            </div>

            <button type="submit" class="btn btn-primary">Enviar mensagem</button>
        </form>
    </div>
{% endblock %}