{% extends '_base_/main.html' %}
{% load static from staticfiles %}

{% block title %}:: {{ title }}{% endblock %}
{% block active-articles %} active {% endblock %}

{% block bodyclass %} bg-white {% endblock %}

{% block body %}
<div class="container top-100 bottom-60 blog-section">

    <div class="top-60 bottom-40">
      <p><span>{{ date }} | {{ syntax }} </span></p>
      <h1 class="text-bold">{{ title }}</h1>

      <div class="blog-author">
        <img class="img-fluid" src="{{ authorPhoto }}" alt="{{ author }}">
        <p class="blog-author-name">
            Escrito por <a href="{% url 'author' authorSlug %}">{{ author }}</a>
        </p>
      </div>
    </div>

    <div class="row blog-content">
      <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="markdown">{{ content }}</div>
      </div>


      <div class="col-md-3">
        <h3 class="bottom-20 heading text-bold">Artigos recentes</h3>

        {% for article in related %}
        {% if article.title != title %}
        {% if forloop.counter <= 10 %}
            <a href="{% url 'article' article.slug %}">
                <h4 class="text-semibold">{{ article.title }}</h4>
            </a>
        {% if article.summary %}
            <p>{{ article.summary }}
                <a href="{% url 'article' article.slug %}">[...]</a>
            </p>
        {% else %}
            <p>{{ article.content | slice:'80' }}
                <a href="{% url 'article' article.slug %}">[...]</a>
            </p>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
        </div>
        </div>
      </div>

    {% if editorial %}
    <div class="container bottom-60">
    <hr>
    <div class="blog-author-bio heading">
        <h2 class="text-semibold">Nota editorial</h2>
        <p>{{ editorial | safe }}</p>
    </div>
    </div>
    {% endif %}

{% endblock %}