{% extends '_base_/main.html' %}

{% block body %}
  <div class="container top-100 bottom-100">

    <div class="top-100 bottom-60 heading animated fadeInUp">
      <p><span>{% block error_summary %}Something wrong{% endblock %}</span></p>
      <h1>{% block error_code %}Error 000{% endblock %}</h1>

      <h3>{% block error_description %}
          Explain what might have happened with the <br>
          request that brought your site visitor to this screen.
          {% endblock %}
      </h3>
    </div>

  </div>
{% endblock %}
