{% extends '_base_/main.html' %}
{% load static from staticfiles %}

{% block bodyclass %} bg-white {% endblock %}

{% block login %}
<div class="container top-100 bottom-100">

    <div class="top-60 bottom-20 heading animated fadeInUp">
      <p><span>Portal de Entrada</span></p>
      <h1 class="text-semibold">Iniciar Sessão</h1>
    </div>

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}

          <div class="form-group">
            <input autocomplete="username" type="text" class="form-control col-4" id="usernameInput"
                   aria-describedby="username" placeholder="Nome de usuário" name="username" autofocus required>
          </div>

          <div class="form-group">
            <input type="password" class="form-control col-4" id="passwordInput"
                   placeholder="Palavra-passe" name="password" required>
          </div>

          <div class="form-check">
            <button type="submit" class="btn btn-primary">Continuar</button>
          </div>
    </form>
</div>
{% endblock %}