{% extends '_base_/main.html' %}
{% load static from staticfiles %}

{% block body %}
<div class="container top-100 bottom-100">
    <div class="top-100 bottom-60 heading animated fadeInUp">
      <p><span>Disconnected</span></p>
      <h1 class="text-semibold">Session Ended</h1>
      <h3 class="top-40 bottom-20">You have successfully logged out. <br>
          You can continue using our site as normal.<br>
          If you'd like, you can go to our <a href="/" class="underlined">homepage</a>.
      </h3>
    </div>
</div>
{% endblock %}
