[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "==7.0"
inflection = "==0.3.1"
tox = "==3.14.0"
Django = ">=2.2.1"
Jinja2 = "==2.10.3"
jupyterlab = "==1.0.0"
sentry-sdk = "==0.13.0"

[requires]
python_version = "3.6"
