/*
// albums.css
// Developed by Leo Neto on Dec 19, 2017.
// Ekletik Studios. Open-source License.
*/

.song-info-wrapper {
    display: none;
    background-blend-mode: multiply;
    border: 1px solid #EEE;
    background-color: #F8F9FF;
    height: 70px;
    margin-top: -70px;
    box-shadow: 0px -.5px rgba(0,0,0, 0.1);
}
.play-button-wrapper {
    position: absolute;
    height: 50px;
    width: 50px;
    padding: 10px;
    background-color: #f5f0f8;
    bottom: 0;
    right: 0;
    margin-right: 25px;
    margin-bottom: 25px;
    border-radius: 50px;
    border: none;
    color: #333;
}
.hidden-info{
    display: none;
}

.mainTitle{
  padding-top: 30px;
  font-size: 2.5em;
  font-weight: 900;
}
.subTitle{
  font-size: 1.5em;
  font-weight: 400;
}
.song-clicked{
  background: #e7e7e7;
  color: #de356e;
}

#artwork{
  padding-top: 50px;
}

#mainTable{
  font-size: 16px;
}
